header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000;


}

h1{
    color: #fff;

}
ul{
    display: flex; 
    margin: 0px;
    padding: 30px;
 }
 a{
     color: #fff;
 }
 li{
     list-style: none;
     margin-left: 15px;
 }
nav{
     display: flex ;
     align-items: center;
     margin-right: 50px;
 }
h1{
     padding-left: 50px;
 }
 